.message-content {
  background-color: $color-white;
  margin-top: $spacing-m;
  padding: $spacing-s $spacing-m;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .sender {
    @include sender-name;
  }
  .date {
    margin: 0;
    padding-top: $spacing-xs;
    font-size: 18px;
    color: $color-dark-grey;

    @include small-screen {
      font-size: 14px;
    }
  }

  .body {
    padding-top: $spacing-xxl;
    color: $color-darkest-grey;
    line-height: 23px;
    @include desktop {
      font-size: 18px;
    }
  }
}
