$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;

$color-light-grey: #d8d8d8;
$color-lighter-grey: #f9f9f9;
$color-grey: #cccccc;
$color-dark-grey: #777777;
$color-darker-grey: #757575;
$color-darkest-grey: #333333;
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #1432be;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

$shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
